/*  Styles for Homework 5
    Author: Add your name here
*/

/* heading styles */


/* button style */

/* main container for React code */
#container {
  padding: 50px;
  margin: 0 75px 0 75px;
  background-color: #fa8072; /* salmon */
  display: flex;
  justify-content: center;
  border-radius: 15px;
  min-width: 250px;
}

/* descriptive paragraph */
#description_info {
  padding: 75px;
  margin: 50px;
  justify-content: center;
}

/* ID that centers the validation text */
#validation {
  text-align: center;
}

/* add a margin around the entire footer */
footer {
  margin: 50px;
}